* {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
* {
    font-size: 18px;
}
form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 700px;
    max-width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
}
input {
    padding: 15px 12px;
    width: 100%;
    background-color: transparent;
    border: 1px solid black;
    color: black;
    border-radius: 4px;
}
button {
    cursor: pointer;
    font-size: 20px;
    width: 100%;
    border: 0;
    border-radius: 4px;
    padding: 20px 0;
    background-color: black;
    color: white;
}
.home-title {
    font-size: 72px;
    font-weight: 700;
    color: black;
    margin-bottom: 40px;
}
.btn-home {
    font-size: 18px;
    text-underline-offset: 3px;
    color: black;
    margin: 15px;
}
#userButtons, #guestButtons {
    display: none;
}

.book-title {
    font-size: 26px;
    color: black;
    margin-bottom: 50px;
}
.book-container {
    max-width: 100%;
    width: 1000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
}
.book-box {
    cursor: pointer;
    text-align: center;
    background-color: rgb(57, 151, 57);
    padding: 20px 0;
    width: 120px;
    max-block-size: 100%;
}
.book-inactive {
    pointer-events: none;
    opacity: 0.2;
}
.book-txt {
    font-size: 18px;
}
.time-wrapper {
    cursor: pointer;
    margin-bottom: 10px;
    text-align: center;
    width: 300px;
    padding: 14px 0;
    font-size: 22px;
    background-color: rgb(57, 151, 57);
}
.view-box {
    text-align: center;
    background-color: rgb(57, 151, 57);
    padding: 20px;
    margin-bottom: 10px;
}
.view-head {
    font-size: 20px;
}
.btn-delete {
    background-color: red;
    padding: 20px 10px;
    color: white;
    text-align: center;
    font-size: 16px;
    margin-top: 30px;
    cursor: pointer;
}
.verify-msg {
    margin-bottom: 40px;
}

@media only screen and (max-width: 900px){
    .book-container {
        gap: 2px;
    }
    .home-title {
        font-size: 32px;
    }
    .btn-home {
        font-size: 14px;
    }
}